@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body{
  --light: hsl(0, 0%, 100%);
  --background: linear-gradient(to right bottom, #4b111a, #4b111a, #5b1923, #6f1a27);
}

.home-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-desktop{
  height: 66px;
  margin: 0;
  padding: 0;
}

.carousel {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
  margin-bottom: 40px;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out; /* Transição suave */
  width: 100%; /* Define a largura para ocupar o espaço */
}

.carousel-image {
  min-width: 100%; /* Cada imagem ocupa 100% da largura do contêiner */
  height: 400px;
  object-fit: cover;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 24px;
  padding: 10px 20px;
  cursor: pointer;
  z-index: 1;
}

.carousel-button.left {
  left: 10px;
}

.carousel-button.right {
  right: 10px;
}

.carousel-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 60px;
}

strong {
  margin-bottom: 20px;
}

.home h1 {
  color: black;
  text-align: center;
  font-weight: 500;
  margin-bottom: 20px;
}

.info-h1{
  margin-top: 40px;
}

.home p {
  font-weight: 500;
  margin-bottom: 10px;
  max-width: 1000px;
  text-align: center;
  font-size: 1.1rem;
}

.home-button {
  text-decoration: none;
  padding: 15px 20px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #6f1a27;
  color: white;
  font-size: 0.9rem;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: hsla(0, 0%, 40%, .6);
}

.modal-container:target {
  display: flex;
}

.modal {
  width: 60rem;
  padding: 4rem 2rem;
  border-radius: .8rem;
  color: var(--light);
  background: var(--background);
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.8);
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.modal__details {
  text-align: center;
  margin-bottom: 3rem;
  padding-bottom: 3rem;
  border-bottom: 1px solid hsla(0, 0%, 100%, .4);
}

.modal__title {
  font-size: 2rem;
  color: #ffffff;
  font-family: 'Lobster Two', cursive;
  font-weight: 400;
  font-style: italic;
}

.modal__description {
  color: white;
  margin-top: 2rem;
  font-size: 1rem;
}

.modal__text {
  color: rgba(255, 255, 255, 0.9);
  padding: 0 4rem;
  margin-bottom: 4rem;
  font-size: 1.6rem;
  line-height: 1.6;
}

.modal__text::before {
  content: '';
  position: absolute;
  top: 0%;
  left: 100%;
  transform: translate(-50%, -50%);
  width: 18rem;
  height: 18rem;
  border: 1px solid hsla(0, 0%, 100%, .2);
  border-radius: 100rem;
  pointer-events: none;
}

.modal__btn {
    padding: 10px 20px;
    border: 1px solid hsla(0, 0%, 100%, .4);
    border-radius: 10px;
    color: inherit;
    background: transparent;
    font-size: 0.9rem;
    font-weight: 500;
    text-transform: uppercase;
    transition: transform .2s ease;
    cursor: pointer;
    margin-top: 40px;
}

.modal__btn:hover,
.modal__btn:focus {
  border-color: hsla(0, 0%, 100%, .6);
  transform: translateY(-.2rem);
}

.link-1 {
  text-decoration: none;
  padding: 15px 20px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #6f1a27;
  color: white;
  font-size: 0.9rem;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 20px;
  transition: 0.3s ease;
}

.link-2 {
  width: 3rem;
  height: 3rem;
  border: 1px solid hsla(0, 0%, 100%, .4);
  border-radius: 100rem;
  color: white;
  font-size: 1.8rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .2s ease;
}

.link-2::before {
  content: '×';
  transform: translateY(-.1rem);
}

.link-2:hover,
.link-2:focus {
  border-color: hsla(0, 0%, 100%, .6);
}

.home span {
  margin-left: 8px;
  color: rgba(255, 255, 255, 0.867);
}

@media (max-width: 768px) {
  .modal {
    width: 90%; /* Ajusta la anchura para pantallas más pequeñas */
    padding: 2rem 1rem;
  }

  .link-2 {
    width: 3rem;
    height: 3rem;
    border: 1px solid hsla(0, 0%, 100%, .4);
    color: white;
    font-size: 1.8rem;
    position: absolute;
    right: 18px;
    top: 18px;
  }

  .link-2::before {
    content: '×';
    transform: translateY(.04rem);
  }

  .modal__title {
    margin-top: 40px;
    font-size: 2rem; /* Reduce el tamaño del título en pantallas pequeñas */
  }

  .modal__description {
    font-size: 1.2rem;
  }

  .modal__text {
    font-size: 1.4rem;
    padding: 0 2rem;
  }

  .modal__btn{
    margin-top: 30px;
  }

  .modal__text::before {
    content: '';
    position: absolute;
    top: 0%;
    left: 100%;
    width: 24rem;
    height: 24rem;
    border: 1px solid hsla(0, 0%, 100%, .2);
    border-radius: 50%;
  }
}

@media (max-width: 480px) {
  .modal {
    width: 95%; /* Ajusta aún más para pantallas muy pequeñas */
  }

  .modal__title {
    font-size: 1.8rem;
  }

  .modal__text {
    font-size: 1.2rem;
    padding: 0 1rem;
  }
}

@media (max-width: 768px) {

  .home p {
    max-width: 380px;
  }

  .navbar-desktop{
    height: 0px;
  }

  .carousel {
    width: 100%;
    height: auto;
    margin-bottom: 40px;
  }

  .carousel-image {
    width: 100%;
    height: 200px;
  }

  .carousel-button {
    font-size: 18px;
    padding: 8px;
  }

  .form {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 300px;
  }
}


/* Estilos do formulário */

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 86vh;
}

.contact-container p {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 30px;
}

.contact-links {
  list-style-type: none;
  padding: 0;
}

.contact-links li {
  margin: 10px 0;
}

.contact-button {
  display: inline-block;
  text-decoration: none;
  padding: 15px 25px;
  width: 200px;
  border-radius: 5px;
  background-color: #4c1f1f;
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.contact-button span {
  margin-left: 10px;
}

.contact-button:hover {
  background-color: #d79393;
  color: black;
}

/* Estilos responsivos para a página de Contato */
@media (max-width: 768px) {
  .contact-button {
    padding: 12px 20px;
    font-size: 1rem;
  }

  .contact-container p {
    font-size: 1rem;
  }
}

/* Estilos do Users */

/* Estilos específicos para a página de psicólogos (Users) */

.user-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 10px;
}

.user-info {
  flex: 1;
  margin: 0 20px;
}

.user-info h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.user-info p {
  font-size: 1.1rem;
  line-height: 1.5;
}

.user-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

/* Alternância entre imagem à esquerda e à direita */
.user-section .left {
  order: -1; /* A imagem será movida para a esquerda */
}

.user-section .right {
  order: 1; /* A imagem será movida para a direita */
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .user-section {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .user-info {
    margin: 20px 0;
  }

  .user-image {
    margin-bottom: 20px;
  }

  .user-section .left, .user-section .right {
    order: 0; /* Para telas menores, as imagens voltarão a ficar acima do texto */
  }
}
