@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 1rem;
  z-index: 10;
  background-color: white;
  transition: all 0.3s ease; /* Para suavizar a transição ao fixar */
}

.navbar.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Opcional: adiciona sombra */
}

.navbar-logo {
  font-family: 'Lobster Two', cursive;
  font-weight: 400;
  font-size: 1.6rem;
  font-style: italic;
  color: #6f1a27;
}

.navbar-links {
  display: flex;
  list-style: none;
}

.navbar {
  padding-inline: 60px;
  margin: 0 auto;
}

.navbar-links li {
  margin: 0 1rem;
}

.navbar-links .link {
  color: black;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 500;
  transition: color 0.3s ease;
}

.navbar-links .link:hover {
  color: #c95353;
}

.navbar-links .link.active {
  color: #c95353;
}

.navbar-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  background-color: #6f1a27;
  padding: 8px;
  border-radius: 4px;
}

.navbar-toggle .bar {
  width: 20px;
  height: 3px;
  background-color: white;
  border-radius: 4px;
  margin: 1.5px 0;
  transition: 0.3s;
}

.navbar-btn{
  padding: .4rem .8rem;
  color: rgb(30, 30, 30);
  border: 2px solid #6f1a27;
  margin-left: 2rem;
  border-radius: 12px;
  font-weight: 600;
  transition: .3s ease;
}

.navbar-btn:hover{
  border-color: black;
}

/* Media query para telas menores */
@media (max-width: 768px) {
  .navbar {
    padding: 1rem;
  }

  .navbar-links {
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 320px;
    top: 64px;
    max-height: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    transition: max-height 0.3s ease;
    background-color: #ffffff;
    z-index: 20;
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.115);
  }

  .navbar-links.open {
    display: flex;
    height: 320px;
    overflow: auto;
    max-height: 100%;
    
  }

  .navbar-links li {
    text-align: center;
    margin: 1.2rem 0;
  }

  .navbar-links li .link {
    color: black;
  }

  .navbar-toggle {
    display: flex;
  }

  .navbar-btn{
    padding: .4rem .8rem;
    color: black;
    border: 2px solid #6f1a27;
    margin-left: 0rem;
    border-radius: 12px;
  }

  
  
}

/* Media query para telas maiores */
@media (min-width: 769px) {
  .navbar {
    position: fixed; /* Fixa o navbar em telas maiores */
    width: 100%; /* Garante que o navbar ocupe toda a largura */
    top: 0; /* Fixa na parte superior */
  }
}
